 <widget id="A6099267504667"  version="0.0.1">

 	<name>淘鞋网</name>

 	<description>

 		Example For APICloud.

 	</description>

 	<author email="developer@apicloud.com" href="http://www.apicloud.com">

 		Developer

 	</author>

 	<content src="index.html" />

 	<access origin="*" />
 	<preference name="customRefreshHeader" value="UIPullRefreshMotive"/>
	
	<preference name="checkSslTrusted" value="false" />

	<preference name="appCertificateVerify" value="false" />
 	
 	<preference name="pageBounce" value="true"/>

 	<preference name="appBackground" value="rgba(0,0,0,0.0)"/>

 	<preference name="windowBackground" value="rgba(0,0,0,0.0)"/>

 	<preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>

 	<preference name="hScrollBarEnabled" value="false"/>

 	<preference name="vScrollBarEnabled" value="false"/>

 	<preference name="autoLaunch" value="true"/>

 	<preference name="fullScreen" value="false"/>

 	<preference name="debug" value="true"/>

 	<preference name="statusBarAppearance" value="false"/>

 	<permission name="readPhoneState" />

 	<permission name="camera" />

 	<permission name="record" />

 	<permission name="location" />

 	<permission name="fileSystem" />

 	<permission name="internet" />

 	<permission name="bootCompleted" />
 	<preference name="autoUpdate" value="false" />
<preference name="font" value="widget/css/fonts/Arial.ttf | widget/css/fonts/fff.ttf | widget/css/fonts/DINCondensed.ttf | widget/css/fonts/GurmukhiSangamMN.ttc | widget/css/fonts/iconfont.ttf | widget/css/fonts/PTMono.ttc"/>

 	<permission name="hardware" />
 	<feature name="bMap">
 		<param name="android_api_key" value="qBBVoy2yoMMoOu1FrCfpjqVEBRy1dU45" />
 		<param name="ios_api_key" value="2z8gscTxSoCwmD9TYfpFntwc3leGXpAa" />
 	</feature>
 	<feature name="pushGeTui">
 		<param name="ios_appkey" value="xCGkZR1bCp6gscLUB20Dl4" />
 		<param name="ios_appid" value="G5lfFkQZ008VoZUXydA2r2" />
 		<param name="ios_appsecret" value="RuxlC8ExWA7T4NFoJhQFd6" />
 		<param name="android_appkey" value="BZDiYXKxFXAvXPyk73xa91" />
 		<param name="android_appid" value="GtUQK3UXpyAlDA2ekM5Gx6" />
 		<param name="android_appsecret" value="BlRFirb4XM8OyNJPDJiRc6" />
 		<param name="android_groupid" value="" />
 	</feature>

 </widget>

